@media print {
  html {
    overflow: hidden;
  }

  .tools,
  .print {
    visibility: hidden;
  }

  .pages {
    margin: 0 !important;
  }

  #container-wrap,
  #container {
    margin: 0 !important;
  }
  #page-nav{
    display: none !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: visible;
}

.pages {
  margin-top: 18px;
}

/*********/

/* #container-wrap,
#container {
  margin-top: 15px;
} */

.tools {
  position: fixed;
  top: 5px;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.tools .sidebar {
  position: fixed;
  top: 5px;
  right: 0;
  height: 28px;
  width: 100%;
  padding: 0 0;
  transition: all 0.4s ease;
}

.tools .sidebar .sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tools svg {
  position: initial;
}

.tools .lists {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(19, 16, 16, 0.515);
  border-radius: 6px;
  padding: 0 4px;
}

.tools .sidebar-content .list {
  list-style: none;
  cursor: pointer;
}

.tools .list .nav-link {
  display: flex;
  align-items: center;
  margin: 1px 3px;
  padding: 0 0;
  border-radius: 4px;
  text-decoration: none;
  z-index: 3;

}

.tools .lists .nav-link:hover {
  background-color: #FFF;
  box-shadow: 0 0 5px .5px rgba(0, 0, 0, 0.3);
}


.tools .nav-link img {
  max-width: 35px;
}

.tools .lists .nav-link:hover .icon,
.tools .lists .nav-link:hover .link {
  color: #707070;
}

.active {
  background-color: #fff !important;
  /* border: 1px #707070 solid; */
}

.checkbox {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 12222222220;
  width: 25px;
  height: 50px;
  cursor: pointer;
}

#bookmark {
  position: fixed;
  top: 0;
  left: 0;
}

#showbookmark {
  position: fixed;
  top: 70px;
  left: 0;
}

.bookmarks-div {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  z-index: 50;
  display: none;
}

.inner-bookmark-div {
  display: flex;
  flex-direction: column;
}

i {
  position: fixed;
  width: 300px;
  height: 300px;
}


canvas {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px black solid;
}

p {
  position: relative;
  z-index: 2;
}

.c {
  height: 100%;
  width: 100%;

  background-color: aliceblue;
  z-index: 22;
}

textarea {
  padding: 10px;
  width: 100%;
  margin: 2px;
  resize: none;
  border-radius: 5px;
  min-height: 100%;
  border: 1px solid rgba(19, 16, 16, 0.315);
  /* direction: rtl; */
}

button {
  cursor: pointer;
}

#comment-block {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  gap: 5px;
  justify-content: flex-end;
  z-index: 20;
  /* transition: all 5s ease-in-out; */
}

.inner-comment {
  padding: 5px;
  display: flex;
  margin: 2px;
  width: 100%;
  height: 20%;
  max-height: 120px;
  flex-direction: column;
  color: black;
  direction: rtl;
  box-shadow: 0px 0px 2px 0px rgba(73, 55, 55, 0.363);
  gap: 10px;
  transition: right 3s ease;

}

.comment-btns-div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.comment-btns-div button {
  width: 50%;
  margin-left: 2px;
  border: 0px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px black;
}

#save:hover {
  background-color: green;
  color: white
}

#delete-comment:hover {
  background-color: rgb(146, 7, 7);
  color: white;
}

.cursor{
  cursor: url("../png/comment-cursor.png"), auto;
}

.btn-close{
  box-shadow: none !important;
}

.edit-tools{
  position: absolute;
  top: 0;
  left: -100%;
  transform: scale(0);
  transition: transform .3s ease-in-out;
}

.comment {
  width: 20px;
  height: 20px;
  background: url("../png/comment.png");
  background-size: contain;
  z-index: 4;
}

.comment-div-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 280px;
  background-color: rgb(253, 252, 251);
  padding: 5px;
  box-shadow: 0px 0px 6px 0px black;
  transition: right 0.3s ease;

}

.btn {
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 200;
}

.bookmark-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 8px;
}
.index-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 8px;
}

.show {
  display: block;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-dialog {
  max-width: 100%;
  min-width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
}

.modal-content {
  max-width: 100% !important;
  min-width: 90% !important;
  border: none;
}

.modal-body {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.modal-header .btn-close {
  margin: -.5rem -.5rem -.5rem 0;

}

.index .btn-close {
  box-shadow: none !important;
  margin: -.5rem -.5rem -.5rem .5rem;

}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  /* margin-bottom: 10px; */
}

.parent svg {
  position: initial;
}

.parent svg:hover {
  color: rgb(23, 113, 129);
  cursor: pointer;
}

::selection {
  background-color: #b9b9b9;
}


/*********** index nav **************/

.index {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 20;
}

.hide-index{
  display: none;
}

.index .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  background: #fff;
  z-index: 5;
}

.index .logo .logo-name {
  color: #43ADA5;
  font-size: 25px;
  font-weight: 700;
  z-index: 2;
  /* margin-right: 20px; */
}

.logo {
  position: absolute;
  top: 0;
  right: 8px;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  /* margin-right: 14px; */
  cursor: pointer;
}

.index .sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  transition: all 0.3s ease;
}

.open {
  display: flex;
}

.open .sidebar {
  right: 0;
}

.index .sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 5px;
}

.index .sidebar-content .list {
  list-style: none;
  z-index: 3;
  text-align: right;
  display: flex;
  align-items: center;
  transition: all 5s ease-in-out;
}

.index .list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.index .lists .nav-link:hover {
  background-color: #4070f4;
}

.index .nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.index .nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.index .lists .nav-link:hover .icon,
.index .lists .nav-link:hover .link {
  color: #fff;
}

/*********** index nav**************/

.accordion-item {
  direction: rtl;
  border: none;
  border-top: .5px solid rgba(0, 0, 0, 0.2);
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
}

.accordion-button {
  padding: 1rem .2rem;
  text-align: right;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border-color: transparent !important;
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.accordion-item span {
  margin: 0 8px;
  color: #772569;
  line-height: 1.2rem;
  cursor: pointer;
  font-family: 'GE Dinar One';
  font-size: 13px;
}

.accordion-item span:hover {
  color: #0c63e4;
}

.accordion-button::after {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.arrow::after {
  display: none;
}

.resp {
  padding: 2px 4px;
}

.modal-img{
  /* width: 60%; */
  margin: 0 auto;
  width: fit-content;
  transform: scale(2.3);
  padding-top: 150px;
}

@media only screen and (max-width: 768.5px) {

  nav .list .link {
    display: none;
  }

  .tools .nav-link img {
    max-width: 33px;
  }

  .modal-dialog {
    min-width: 90%;
    height: calc(100% - 6rem) !important;
  }

  .modal-img{
    transform: scale(2.1);
  }
  .offcanvas-header{
    padding: 1rem .5rem !important;
  }
  .offcanvas{
    max-width: 75% !important;
  }
  .offcanvas-top{
    height: 35vh !important;
  }
}
@media only screen and (max-width: 340px) {
  .tools .nav-link img {
    max-width: 30px;
  }
  .logo {
    right: 1px;
  }
  .bookmark-btn {
    left: 1px;
  }
  .modal-img{
    transform: scale(1.9);
  }
  .offcanvas-header{
    padding: 1rem .2rem !important;
  }
  .offcanvas-header .btn-close{
    padding: 0 !important;
  }
  .offcanvas{
    max-width: 90% !important;
  }
}

#viewer-options-bar {
  display: none;
}

#remove-hl {
  display: none;
  max-width: 25px;
}

.close{
  color: #fff !important;
  opacity: 1 !important;
  filter: invert(100%);
}

.ineractive{
  margin: 12px 0;
}
.ineractive-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ineractive-icons li{
  padding: 2px 0;
}
.ineractive-icons li:hover{
  background-color: #fff;
  box-shadow: 0 0 5px .5px rgba(227, 164, 5, 0.794);
  border-radius: 5px;
}
.ineractive-icons img{
  max-width: 75px;
}

.offcanvas{
  direction: rtl;
  max-width: 50%;
  margin: 0 auto;
  overflow-y: scroll;
}
.offcanvas-body{
  padding: 0;
}

.search-elements{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3px;
}
.search-elements .search-list{
  width: 90%;
  margin: 0 auto;
  padding: 12px 5px;
  word-wrap: break-word;
  cursor: pointer;
}
.search-elements .search-list:hover{
  background-color: #e7e7e7;
}
.search-elements .search-list:last-child{
  border: none;
}
#search{
  width: 100%;
  padding: 1% 0;
  border: none;
  border-bottom: 1px solid #b7b7b7;
  transition: all .3s ease-in-out;
  font-size: 16px;
}

#search:focus,#search:valid{
  border-bottom: 2px solid rgb(68,173,165);
}

.search-hl{
  color: red !important;
}